@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main-container{
    width: 90%;
    height: auto;
    margin: 2rem auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    background-color: bisque;
    border-radius: 1rem;
    border: 1px solid #d7d7d7;
}

heading{
    width: fit-content;
    height: auto;
}

heading h2{
    font-size: 2rem;
    color: #23123d;
    font-weight: 600;
}

.button{
    width: fit-content;
    height: auto;
}

.button button{
    width: 100%;
    background-color: #5107ff;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
}

.display-container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    background-color: bisque;
    border-radius: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

.research-item{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1.2rem;
    border-radius: 0.6rem;
    border: 0.3px solid #d7d7d7;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.8rem;
    flex-grow: 1;
}

.title-and-icon{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-and-icon a{
    text-decoration: none;
    font-weight: 600;
    color: #23123d;
}

.title-and-icon i{
    cursor: pointer;
    color: #8f8f95;
}

.body-text{
    width: 100%;
    height: auto;
}

.body-text p{
    font-size: 0.8rem;
    color: #444445;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-overlay-visible{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.overlay-container{
    width: 30%;
    height: auto;
    padding: 2rem;
    background-color: bisque;
    border-radius: 1rem;
}

.close-icon-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem 0;
}

.close-icon-container i{
    cursor: pointer;
}

.form-title{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
}
.form-title h3{
    font-size: 1rem;
}

.modal-forma{
    width: 100%;
    height: auto;
}


.form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}

.input-group{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 0.3rem;
}

label{
    font-size: 0.8rem;
}

input{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    border: 1px solid #e3e3e3;
    outline: none;
}

input::placeholder{
    font-size: 0.75rem;
}

textarea{
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    border: none;
    border: 1px solid #e3e3e3;
    outline: none;
    padding: 1rem 1rem 1rem 1.2rem;
}

.button-container{
    width: 100%;
    height: auto;
}

.button-container button{
    background-color: #5107ff;
    color: white;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}